!!!!!!!!!!!!!!!!!!!!!!
!! Colors and stuff !!
!!!!!!!!!!!!!!!!!!!!!!

!sourced from http://github.com/altercation/solarized

*background: #002b36
*foreground: #657b83
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3

!!!!!!!!!!!
!! URxvt !!
!!!!!!!!!!!

!Fonts
URxvt.font: xft:Inconsolata for Powerline:size=12:antialias=true:hinting=true,xft:dejavu sans mono:size=10:antialias=true:hinting=true
URxvt.boldFont: xft:Inconsolata for Powerline:bold:size=12:antialias=true:hinting=true,xft:dejavu sans mono:bold:size=10:antialias=true:hinting=true
URxvt.italicFont: xft:Inconsolata for Powerline:italic:size=12:antialias=true:hinting=true,xft:dejavu sans mono:italic:size=10:antialias=true:hinting=true
URxvt.boldItalicFont: xft:Inconsolata for Powerline:bold:italic:size=12:antialias=true:hinting=true,xft:dejavu sans mono:bold:italic:size=10:antialias=true:hinting=true

!Scrollbar stuff
URxvt.scrollBar: false

!Larger history limit
urxvt.saveLines: 999999

!Extensions
URxvt.perl-ext-common: default,keyboard-select,matcher,selection-to-clipboard,url-select

!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate

!! matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

!!!!!!!!!!
!! rofi !!
!!!!!!!!!!

rofi.font: Inconsolata for Powerline 12
rofi.padding: 20
rofi.line-padding: 2
rofi.modi: combi
rofi.combi-modi: drun,run
rofi.show-icons: true
rofi.drun-icon-theme: Papirus-Adapta-Nokto
rofi.color-enabled: true
rofi.hide-scrollbar: true
rofi.separator-style: solid

! State:           'bg',          'fg',    'bgalt',       'hlbg',        'hlfg'
rofi.color-normal: #222D32,       #919ba0, #222D32,       #a4a4a4,       #222D32
rofi.color-urgent: argb:00000000, #f43753, argb:00000000, argb:00000000, #e29a49
rofi.color-active: argb:00000000, #49bbfb, argb:00000000, argb:00000000, #e29a49
!                  'background',      'border',    'separator'
rofi.color-window: #222D32,           #919ba0,     #222D32
