!!!!!!!!!!!!!!!!!!!!!!
!! Colors and stuff !!
!!!!!!!!!!!!!!!!!!!!!!

! black
*color0:   #2E3436
*color8:   #555753

! red
*color1:   #CC0000
*color9:   #EF2929

! green
*color2:   #4E9A06
*color10:  #8AE234

! orange
*color3:   #C4A000
*color11:  #FCE94F

! blue
*color4:   #3465A4
*color12:  #729FCF

! purple
*color5:   #75507B
*color13:  #AD7FA8

! turquoise
*color6:   #06989A
*color14:  #34E2E2

! grey
*color7:   #D3D7CF
*color15:  #EEEEEC

! special
*.foreground:   #D3D7CF
*.background:   #2E3436
*.cursorColor:  #D3D7CF

!!!!!!!!!!!
!! URxvt !!
!!!!!!!!!!!

!Fonts
URxvt.font: xft:Inconsolata for Powerline:size=12:antialias=true:hinting=true,xft:dejavu sans mono:size=10:antialias=true:hinting=true
URxvt.boldFont: xft:Inconsolata for Powerline:bold:size=12:antialias=true:hinting=true,xft:dejavu sans mono:bold:size=10:antialias=true:hinting=true
URxvt.italicFont: xft:Inconsolata for Powerline:italic:size=12:antialias=true:hinting=true,xft:dejavu sans mono:italic:size=10:antialias=true:hinting=true
URxvt.boldItalicFont: xft:Inconsolata for Powerline:bold:italic:size=12:antialias=true:hinting=true,xft:dejavu sans mono:bold:italic:size=10:antialias=true:hinting=true

!Scrollbar stuff
URxvt.scrollBar: false

!Transparency
URxvt.depth: 32
URxvt.background: [70]#000000

!Larger history limit
urxvt.saveLines: 999999

!Extensions
URxvt.perl-ext-common: default,keyboard-select,matcher,selection-to-clipboard,url-select

!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate

!! matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

!!!!!!!!!!
!! rofi !!
!!!!!!!!!!

rofi.font: Inconsolata for Powerline 12
rofi.padding: 20
rofi.line-padding: 2
rofi.modi: combi
rofi.combi-modi: drun,run
rofi.show-icons: true
rofi.drun-icon-theme: Papirus-Adapta-Nokto
rofi.color-enabled: true
rofi.hide-scrollbar: true
rofi.separator-style: solid

! State:           'bg',          'fg',    'bgalt',       'hlbg',        'hlfg'
rofi.color-normal: #222D32,       #919ba0, #222D32,       #a4a4a4,       #222D32
rofi.color-urgent: argb:00000000, #f43753, argb:00000000, argb:00000000, #e29a49
rofi.color-active: argb:00000000, #49bbfb, argb:00000000, argb:00000000, #e29a49
!                  'background',      'border',    'separator'
rofi.color-window: #222D32,           #919ba0,     #222D32
